#addCartPage{
    padding: 10vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #FDA172; */
    background-color: #ee8e6b;
background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);

}
#cartCard{
    padding: 3vh;
    margin: 3vh;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff9c;
    width: 50vh;
    height: 50vh;
}
#deleteCartItem{
    font-size: 16px;
  font-weight: bold;
  background-color: orange;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
#nameCart, #priceCart{
    margin: 3vh;
}

#noCandi{
    display: flex; flex-direction: column;
    padding-top: 10vh;
    align-items: center;justify-content: center;
}

#imgConsult{
    height: 50vh;
    width: 100%;
}